/*
 * Board
 */
.blue .cg-board {
  background-image: url(images/board/blue.svg);
}
/* .chessground.light-wood-3d .cg-board-wrap { */
/*   position: relative; */
/*   background-image: url('images/board/3d/Light-Wood.png'); */
/*   background-size: cover; */
/* } */
/* .chessground.small.light-wood-3d .cg-board-wrap { */
/*   width: calc(1400px / 4.6666); */
/*   height: calc(1310px / 4.6666); */
/* } */
/* .chessground.large.light-wood-3d .cg-board-wrap { */
/*   width: calc(1400px / 1); */
/*   height: calc(1310px / 1); */
/* } */
/* .light-wood-3d .cg-board { */
/*   position: absolute; */
/*   left: 0; */
/*   top: 0.6168702%; */
/*   width: 100%; */
/*   height: 97.0229%; */
/* } */
/*
whole: 1400x1310
useful: 1400x1271,
top: 8, bottom: 31
*/

.merida .cg-board piece.pawn.white {
  background-image: url('images/pieces/merida/wP.svg');
}
.merida .cg-board piece.bishop.white {
  background-image: url('images/pieces/merida/wB.svg');
}
.merida .cg-board piece.knight.white {
  background-image: url('images/pieces/merida/wN.svg');
}
.merida .cg-board piece.rook.white {
  background-image: url('images/pieces/merida/wR.svg');
}
.merida .cg-board piece.queen.white {
  background-image: url('images/pieces/merida/wQ.svg');
}
.merida .cg-board piece.king.white {
  background-image: url('images/pieces/merida/wK.svg');
}
.merida .cg-board piece.pawn.black {
  background-image: url('images/pieces/merida/bP.svg');
}
.merida .cg-board piece.bishop.black {
  background-image: url('images/pieces/merida/bB.svg');
}
.merida .cg-board piece.knight.black {
  background-image: url('images/pieces/merida/bN.svg');
}
.merida .cg-board piece.rook.black {
  background-image: url('images/pieces/merida/bR.svg');
}
.merida .cg-board piece.queen.black {
  background-image: url('images/pieces/merida/bQ.svg');
}
.merida .cg-board piece.king.black {
  background-image: url('images/pieces/merida/bK.svg');
}
/* .staunton piece.pawn.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Pawn.png'); */
/* } */
/* .staunton piece.bishop.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Bishop.png'); */
/* } */
/* .staunton .cg-board.orientation-black div.bishop.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Bishop-Flipped.png'); */
/* } */
/* .staunton piece.knight.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Knight.png'); */
/* } */
/* .staunton .cg-board.orientation-black div.knight.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Knight-Flipped.png'); */
/* } */
/* .staunton piece.rook.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Rook.png'); */
/* } */
/* .staunton piece.queen.white { */
/*   background-image: url('images/pieces/staunton/basic/White-Queen.png'); */
/* } */
/* .staunton piece.king.white { */
/*   background-image: url('images/pieces/staunton/basic/White-King.png'); */
/* } */
/* .staunton piece.pawn.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Pawn.png'); */
/* } */
/* .staunton piece.bishop.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Bishop.png'); */
/* } */
/* .staunton .cg-board.orientation-white div.bishop.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Bishop-Flipped.png'); */
/* } */
/* .staunton piece.knight.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Knight.png'); */
/* } */
/* .staunton .cg-board.orientation-white div.knight.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Knight-Flipped.png'); */
/* } */
/* .staunton piece.rook.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Rook.png'); */
/* } */
/* .staunton piece.queen.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-Queen.png'); */
/* } */
/* .staunton piece.king.black { */
/*   background-image: url('images/pieces/staunton/basic/Black-King.png'); */
/* } */
/* .staunton piece { */
/*   /1* original size: */
/*      width: 140.625%; */
/*      height: 179.6875%; *1/ */
/*   /1* size on 3D board, with height/width = 90.78571% *1/ */
/*   width: 140.625%; */
/*   height: 197.92486231313927%; */
/*   left: -18%; */
/*   top: -77%; */
/* } */
